#navbar {
    display: flex;
    justify-content: flex-start;  
    align-items: center;  
    width: 100%;
}

#logo {
    display: flex;
    justify-content: flex-start;
    max-width: 50%;  
}

#horizontal-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 20px;  
}

#horizontal-menu li {
    margin-left: 20px;
}

#horizontal-menu a {
    text-decoration: none;
    color: rgb(167, 164, 11);
    padding: 10px 15px;
    display: block;
}

#horizontal-menu a.active {
    background-color: yellow;
    color: white;
}
#horizontal-menu  a:hover {
    color: white; 
    background-color: rgb(167, 164, 11);
}
h1{
    display: flex;
    justify-content: flex-start;
    color:rgb(148, 138, 0); 
    margin-left: 640px;
}
h2{
    margin-left: 700px;
    margin-top: 700px;
    color:rgb(148, 138, 0); 
}